<!DOCTYPE HTML>
<html lang="en" style="height: 100%;">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/bootstrap/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="../css/bootstrap/jquery.datetimepicker.min.css" />
    <link rel="stylesheet" href="../css/vehicle.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <script>
        if (window != top)
            top.location.href = location.href;
    </script>
</head>
<body style="height: 100%;">
<div  class="login-container">
    <div class="header" id="head">
        <div class="title">呼啸山庄</div>
    </div>
    <div  class="login-box"  >
        <h4 class="login-box-title">帐号登录</h4>
        <div class="login-tip">
            <span class="text-danger" style="display: none;"></span>
        </div>
        <form class="form-horizontal" >
            <div class="form-group">
                <label for="username" class="control-label sr-only">用户名</label>
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                    <input type="text" class="form-control input-md" id="username" placeholder="请输入登录名称">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="control-label sr-only">密码</label>
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                    <input type="password" class="form-control input-md" id="password" placeholder="请输入登录密码">
                </div>
            </div>
            <div class=" form-group">
                <button class="btn btn-login btn-block" type="submit">登陆</button>
            </div>
            <div class=" form-group">
                <a href="./pages/register.html">注册</a>
            </div>
        </form>
    </div>
    <div class="copyright">
        <footer> <span style="font-size:18px;color:white">2018 © 帆帆帆 </span></footer>
    </div>
</div>
<!-- registerModal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalModify">
    <div class="modal-dialog" role="document" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    &times;
                </button>
                <h4 class="modal-title" id="registerModalModify">填写注册信息</h4>
            </div>
            <div class="modal-body">
                <form class="inline-block">
                    <div class="col-sm-4 form-group ">
                        <label for="userIdR" class="control-label"><span style="color:red">*</span>用户名：</label>
                        <input id="userIdR" class="form-control" required>
                    </div>
                    <div class="col-sm-4 form-group ">
                        <label for="passwordR" class="control-label"><span style="color:red">*</span>密码：</label>
                        <input id="passwordR" class="form-control" required>
                    </div>
                    <div class="col-sm-4 form-group ">
                        <label for="passwordRConfirm" class="control-label"><span style="color:red">*</span>确认密码：</label>
                        <input id="passwordRConfirm" class="form-control" required>
                    </div>
                    <div class="col-sm-4 form-group ">
                        <label for="nikName" class="control-label"><span style="color:red">*</span>昵称：</label>
                        <input id="nikName" class="form-control" required>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="sex" class="control-label"><span style="color:red">*</span>性别：</label>
                        <select class="form-control" id="sex" required  >
                            <option value="0">男</option>
                            <option value="1">女</option>
                            <option value="2">其他</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button id="btnRegisterSave" type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script src="../js/lib/require.js" data-main="../js/login.js"></script>
</body>
</html>