<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.danxiaochong.blog.mapper.UserMapper">

    <select id="getUserById" parameterType="String" resultType="com.danxiaochong.blog.pojo.system.User">
		SELECT * FROM TBL_USER WHERE USER_ID=#{user_id}
	</select>

    <select id="getMatchCount" parameterType="java.lang.String" resultType="Integer">
        select count(*) from tbl_user where USER_ID=#{user_id} and user_pass=#{passWord}
    </select>

    <select id="userIdMatchCount" parameterType="java.lang.String" resultType="Integer">
        select count(*) from tbl_user where USER_ID=#{user_id}
    </select>

    <update id="updateUser" parameterType="com.danxiaochong.blog.pojo.system.User">
		update TBL_user set
		pass_wod=#{passWord},user_name=#{userName} where user_id=#{userId}
	</update>

    <update id="updateUserUrl" parameterType="Map">
		update TBL_user set
		idx_url=#{idx_url} where user_id=#{user_id}
	</update>

    <select id="getRoleByUser" parameterType="String" resultType="com.danxiaochong.blog.pojo.system.UserRole">
		SELECT UR.*, ROLE.ROLE_NAME AS role_name, ROLE.ROLE_CODE AS role_code
		FROM TBL_USER_ROLES UR,TBL_ROLE ROLE
		WHERE UR.USER_ID = #{userId}
		AND ROLE.ROLE_ID = UR.ROLE_ID
	</select>

    <select id="queryFuncByUser" parameterType="String" resultType="com.danxiaochong.blog.pojo.system.Function">
        SELECT DISTINCT (f.ID), f.FUNC_NAME, f.FUNC_URL, f.PARENT_ID, f.FUNC_LEVEL, f.SHOW_ORDER, f.ENABLE
        FROM TBL_USER_ROLES r, TBL_PERMISSION p, TBL_FUNCTION f
        WHERE r.USER_ID = #{userId} AND r.ROLE_ID = p.ROLE_ID AND p.FUNC_ID = f.ID AND f.ENABLE != 1
        ORDER BY f.FUNC_LEVEL
    </select>

    <insert id="addUser" parameterType="Map">
        insert into tbl_user (user_id,user_pass,user_name,email_address) values (#{userNameR},#{passwordR},#{nickname},#{email})
    </insert>

</mapper>